openapi: 3.0.3
info:
  title: Roman AI
  version: 2.0.3
  description: Rules-driven interactive novel sessions with character-scoped knowledge, dynamic relationships, cast continuity, recovery, rollback, continuation compaction and lossless setup intake.
servers:
  - url: https://ai-roman-yumikofv.mia0.amvera.tech

components:
  schemas:
    ChronologyItem:
      type: object
      properties:
        event:
          type: string
        summary:
          type: string
        story_date:
          type: string
        date:
          type: string
        period:
          type: string
        location:
          type: string
        participants_present:
          type: array
          items:
            type: string
        participants:
          type: array
          items:
            type: string
        importance:
          type: string
          enum: [normal, major, anchor, critical]
        time_critical:
          type: boolean
        exact_time:
          type: string
        consequences:
          type: array
          items:
            type: string
      additionalProperties: false

    KnowledgeJournalAdd:
      type: object
      required: [character_id, text]
      properties:
        character_id:
          type: string
        text:
          type: string
        date:
          type: string
        period:
          type: string
      additionalProperties: false

    CurrentState:
      type: object
      properties:
        game_day:
          type: integer
        day:
          type: integer
        date:
          type: string
        time:
          type: string
        location:
          type: string
        weather:
          type: string
        season:
          type: string
        scene:
          type: string
        zone:
          type: string
        position:
          type: string
        outfit:
          type: string
        hair:
          type: string
        mood:
          type: string
        notes:
          type: string
        present_characters:
          type: array
          items:
            type: string
        remote_characters:
          type: array
          items:
            type: string
        inventory:
          type: array
          items:
            type: string
      additionalProperties: false

    StatePatch:
      type: object
      properties:
        current:
          $ref: '#/components/schemas/CurrentState'
      additionalProperties: false

    CharacterUpsert:
      type: object
      required: [character_id]
      properties:
        character_id:
          type: string
        name:
          type: string
        surname:
          type: string
        aliases:
          type: array
          items:
            type: string
        age:
          type: string
        status:
          type: string
        role:
          type: string
        is_pov:
          type: boolean
        story_function:
          type: string
        appearance:
          type: string
        character:
          type: string
        speech:
          type: string
        habits:
          type: array
          items:
            type: string
        work:
          type: string
        residence:
          type: string
        relationships:
          type: array
          items:
            type: string
        abilities:
          type: array
          items:
            type: string
        weaknesses:
          type: array
          items:
            type: string
        goals:
          type: array
          items:
            type: string
        background:
          type: string
        secrets_known_to_self:
          type: array
          items:
            type: string
        notes:
          type: string
        generated_details:
          type: array
          items:
            type: string
        additional:
          type: string
      additionalProperties: false

    ContinuationCharacterMemory:
      type: object
      required: [character_id]
      properties:
        character_id:
          type: string
        knowledge:
          type: array
          items:
            type: string
        experiences:
          type: array
          items:
            type: string
        dialogue_memory:
          type: array
          items:
            type: string
      additionalProperties: false

    ContinuationBlockSummary:
      type: object
      required: [chronology, characters]
      properties:
        chronology:
          type: array
          items:
            $ref: '#/components/schemas/ChronologyItem'
        characters:
          type: array
          items:
            $ref: '#/components/schemas/ContinuationCharacterMemory'
        current:
          $ref: '#/components/schemas/CurrentState'
        threads:
          type: array
          items:
            $ref: '#/components/schemas/StoryThreadUpdate'
      additionalProperties: false

    ContinuationBlockCommit:
      type: object
      required: [migration_id, summary]
      properties:
        migration_id:
          type: string
        summary:
          $ref: '#/components/schemas/ContinuationBlockSummary'
      additionalProperties: false

    ContinuationFinalPackage:
      type: object
      required: [chronology, characters, current, threads]
      properties:
        chronology:
          type: array
          items:
            $ref: '#/components/schemas/ChronologyItem'
        characters:
          type: array
          items:
            $ref: '#/components/schemas/ContinuationCharacterMemory'
        current:
          $ref: '#/components/schemas/CurrentState'
        threads:
          type: array
          items:
            $ref: '#/components/schemas/StoryThreadUpdate'
      additionalProperties: false

    ContinuationFinalCommit:
      type: object
      required: [migration_id, package]
      properties:
        migration_id:
          type: string
        package:
          $ref: '#/components/schemas/ContinuationFinalPackage'
      additionalProperties: false

    NovelDraftCreate:
      type: object
      required: [novel_id, title]
      properties:
        novel_id:
          type: string
        title:
          type: string
        version:
          type: integer
          default: 5
          description: Use version 5 for new simple-profile drafts.
      additionalProperties: false

    NovelDraftSection:
      type: object
      required: [section_name, section_json]
      properties:
        section_name:
          type: string
          enum: [novel, characters, lore, rules, hidden_lore, world, starting_state, story_direction, foundation, knowledge, intake]
        section_json:
          type: string
          description: JSON string for the named section. Section knowledge may contain explicit facts each character already knows before the first scene.
        expected_revision:
          type: integer
          minimum: 0
      additionalProperties: false

    NovelDraftIntakeChunk:
      type: object
      required: [block_id, stage, chunk_index, raw_text]
      properties:
        block_id:
          type: string
          minLength: 1
          maxLength: 120
        stage:
          type: string
          minLength: 1
          maxLength: 120
        chunk_index:
          type: integer
          minimum: 0
        raw_text:
          type: string
          minLength: 1
          maxLength: 6000
        is_last:
          type: boolean
          default: false
      additionalProperties: false

    NovelDraftIntakeMapping:
      type: object
      properties:
        fact_ids:
          type: array
          items:
            type: string
        reviewed_against_raw:
          type: boolean
          default: false
        contains_no_facts:
          type: boolean
          default: false
        replace:
          type: boolean
          default: false
        expected_revision:
          type: integer
          minimum: 0
      additionalProperties: false

    NovelDraftReconciliation:
      type: object
      required: [expected_revision, confirmed_against_raw, unresolved_conflicts]
      properties:
        expected_revision:
          type: integer
          minimum: 0
        confirmed_against_raw:
          type: boolean
        unresolved_conflicts:
          type: array
          items:
            type: string
        notes:
          type: string
      additionalProperties: false

    NovelDraftLaunchState:
      type: object
      required: [expected_finalized_revision, starting_state_json]
      properties:
        expected_finalized_revision:
          type: integer
          minimum: 0
        starting_state_json:
          type: string
        launch_hint:
          type: string
      additionalProperties: false

    SessionCreate:
      type: object
      required: [novel_id]
      properties:
        novel_id:
          type: string
      additionalProperties: false

    TurnPrepare:
      type: object
      required: [user_input]
      properties:
        user_input:
          type: string
        request_id:
          type: string
          minLength: 1
          maxLength: 120
        opening_scene:
          type: boolean
          default: false
        scene_archive_capable:
          type: boolean
          default: false
        replace_pending:
          type: boolean
          default: false
      additionalProperties: false

    SceneArchiveRead:
      type: object
      properties:
        scene_id:
          type: string
          minLength: 1
      additionalProperties: false

    RollbackLastTurn:
      type: object
      required: [expected_turn_number, expected_turn_id, confirm]
      properties:
        expected_turn_number:
          type: integer
          minimum: 1
        expected_turn_id:
          type: string
          minLength: 1
        confirm:
          type: boolean
          description: Must be true when the user explicitly requested rollback.
      additionalProperties: false

    PresenceUpdate:
      type: object
      required: [character_id, action]
      properties:
        character_id:
          type: string
        action:
          type: string
          enum: [enter, leave, move]
        zone:
          type: string
        position:
          type: string
        distance_to_pov:
          type: string
        note:
          type: string
      additionalProperties: false

    RelationshipDimensionUpdate:
      type: object
      required: [label, value]
      properties:
        label:
          type: string
        value:
          type: number
        delta:
          type: number
      additionalProperties: false

    RelationshipUpdate:
      type: object
      required: [character_id]
      properties:
        character_id:
          type: string
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipDimensionUpdate'
        reason:
          type: string
        opinion:
          type: string
        current_dynamic:
          type: string
        beliefs_about_target:
          type: array
          items:
            type: string
        unresolved_between_them:
          type: array
          items:
            type: string
        relationship_type:
          type: string
        relationship_context:
          type: string
      additionalProperties: false

    NPCIntentUpdate:
      type: object
      required: [character_id, intent_id]
      properties:
        character_id:
          type: string
        intent_id:
          type: string
        operation:
          type: string
          enum: [upsert, resolve, abandon]
        kind:
          type: string
        summary:
          type: string
        status:
          type: string
        trigger:
          type: string
        why_it_matters:
          type: string
        planned_action:
          type: string
        target_character_id:
          type: string
        source_fact_ids:
          type: array
          items:
            type: string
        next_eligible_game_day:
          type: integer
          minimum: 0
        pursued_now:
          type: boolean
        resolution:
          type: string
      additionalProperties: false

    StoryThreadUpdate:
      type: object
      required: [thread_id]
      properties:
        thread_id:
          type: string
        operation:
          type: string
          enum: [upsert, resolve, abandon]
        title:
          type: string
        summary:
          type: string
        status:
          type: string
        premise:
          type: string
        current_goal:
          type: string
        current_phase:
          type: string
        unresolved:
          type: array
          items:
            type: string
        end_conditions:
          type: array
          items:
            type: string
        possible_routes:
          type: array
          items:
            type: string
        anchor_facts:
          type: array
          items:
            type: string
        pillar_ids:
          type: array
          items:
            type: string
        participants:
          type: array
          items:
            type: string
        next_eligible_game_day:
          type: integer
          minimum: 0
        progressed_now:
          type: boolean
        progress_summary:
          type: string
        resolution:
          type: string
      additionalProperties: false

    TurnExtracted:
      type: object
      properties:
        knowledge_journal_add:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeJournalAdd'
        chronology:
          type: array
          items:
            $ref: '#/components/schemas/ChronologyItem'
        npc_intent_updates:
          type: array
          items:
            $ref: '#/components/schemas/NPCIntentUpdate'
        story_thread_updates:
          type: array
          items:
            $ref: '#/components/schemas/StoryThreadUpdate'
        scene_progressed:
          type: boolean
        presence_updates:
          type: array
          items:
            $ref: '#/components/schemas/PresenceUpdate'
        relationship_updates:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipUpdate'
        state_patch:
          $ref: '#/components/schemas/StatePatch'
        character_upserts:
          type: array
          items:
            $ref: '#/components/schemas/CharacterUpsert'
      additionalProperties: false

    TurnCommit:
      type: object
      required: [packet_id, user_input, scene_output, extracted]
      properties:
        packet_id:
          type: string
          minLength: 1
        user_input:
          type: string
        scene_output:
          type: string
          minLength: 1
        extracted:
          $ref: '#/components/schemas/TurnExtracted'
      additionalProperties: false

paths:
  /sessions/{session_id}/rollback-last-turn:
    post:
      operationId: rollbackLastTurn
      summary: Roll back only the latest saved canonical turn after explicit user request
      description: Resume first and pass exact current turn number plus current_turn_id with confirm=true. Exact retries are safe; a replacement turn has a different identity.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RollbackLastTurn'}
      responses:
        '200': {description: Latest turn rolled back and same turn number is ready to retry}
        '404': {description: Session not found}
        '409': {description: Confirmation, expected turn or exact reconstruction check failed; no mutation performed}
  /sessions/{session_id}/scene-archive/read:
    post:
      operationId: prepareSceneArchiveRead
      summary: Prepare chunked persistent scene history or exact old-scene evidence
      description: Omit scene_id for the complete compacted-scene index. Provide scene_id for that scene plus exact raw turns from its source ranges. Chunk 0 is included.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SceneArchiveRead'}
      responses:
        '200': {description: Scene archive manifest plus inline chunk 0}
        '404': {description: Session or scene not found}
  /sessions/{session_id}/scene-archive/read/{read_id}/{chunk_index}:
    get:
      operationId: getSceneArchiveChunk
      summary: Read one remaining chunk from a prepared scene archive read
      description: Start at next_chunk_index because chunk 0 is already included. Echo scene_id only when the prepare request used one.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
        - {in: query, name: scene_id, required: false, schema: {type: string}}
      responses:
        '200': {description: One remaining scene archive chunk}
        '404': {description: Session, scene or chunk not found}
        '409': {description: Scene archive changed during reading}
  /novel-drafts:
    post:
      operationId: createNovelDraft
      summary: Start a staged session-only draft for a new novel
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftCreate'}
      responses:
        '200': {description: Draft status with draft_id}
  /novel-drafts/{draft_id}/sections:
    post:
      operationId: saveNovelDraftSection
      summary: Save or replace one draft section; saving again may reopen a finalized draft for pre-game correction
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftSection'}
      responses:
        '200': {description: Updated draft status including intake_coverage when intake exists}
  /novel-drafts/{draft_id}/intake/chunks:
    post:
      operationId: appendDraftIntakeChunk
      summary: Append one verbatim chunk of a large intake block
      description: Prefer 4000-6000 verbatim characters per chunk, in order from 0. Exact retries are idempotent. Draft v5 keeps the RAW verbatim and later marks each block reviewed with fact_ids=[]. Legacy v4 retains source-unit/foundation mapping. On 422 split only unsaved text. Set is_last only on the final chunk.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftIntakeChunk'}
      responses:
        '200': {description: Upload progress or completed immutable intake block}
  /novel-drafts/{draft_id}/intake/{block_id}/mapping:
    post:
      operationId: updateDraftIntakeMapping
      summary: Mark a stored raw intake block reviewed or map legacy foundation facts
      description: In draft v5 send fact_ids=[] and reviewed_against_raw=true after the verbatim RAW block has been fully represented in the fixed profiles. Legacy v4 drafts keep fact/source-unit mapping behavior.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
        - {in: path, name: block_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftIntakeMapping'}
      responses:
        '200': {description: Updated draft status and intake coverage}
  /novel-drafts/{draft_id}/reconciliation:
    post:
      operationId: confirmDraftReconciliation
      summary: Confirm full raw-to-structured reconciliation for the current draft revision
      description: Requires a complete read of the same revision. Any later write invalidates this reconciliation and requires another full read and confirmation.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftReconciliation'}
      responses:
        '200': {description: Current revision reconciled}
        '409': {description: Revision, full-read, coverage or conflict check failed}

  /novel-drafts/{draft_id}/launch-state:
    post:
      operationId: setDraftLaunchState
      summary: Set the first-scene starting state after setup content is finalized
      description: Stores launch state separately from finalized setup content, including v5 drafts, so choosing the first scene does not invalidate the reconciled content revision.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftLaunchState'}
      responses:
        '200': {description: Launch state validated and stored}
        '409': {description: Draft or launch state is not valid}

  /novel-drafts/{draft_id}/finalize:
    post:
      operationId: finalizeNovelDraft
      summary: Verify and freeze a session-only draft
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Verification summary}
  /novel-drafts/{draft_id}/read:
    post:
      operationId: prepareDraftRead
      summary: Prepare chunked reading of a working or finalized draft
      description: Before finalize, returns the working draft with raw intake. After finalize, returns the normalized draft. Saving a correction reopens the same draft; reread all chunks after every write.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: read_id, chunk_count and total_chars}
  /novel-drafts/{draft_id}/session:
    post:
      operationId: createSessionFromDraft
      summary: Create or safely replay the isolated session for this finalized draft revision
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Session metadata}
  /novel-reads/{read_id}/{chunk_index}:
    get:
      operationId: getNovelReadChunk
      summary: Read one chunk from a prepared draft or library read
      parameters:
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer}}
      responses:
        '200': {description: One chunk}
  /sessions/{session_id}/resume:
    post:
      operationId: resumeSession
      summary: Reconnect to the exact existing session
      description: Compact checkpoint including exact last_committed_turn.scene_output. If current_recovery_required=true, call recoverSessionCurrent before prepareTurn. Full canon remains in backend persistent storage.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Same-session compact checkpoint with recovery status}
        '404': {description: Session not found}
  /sessions/{session_id}/recover-current:
    post:
      operationId: recoverSessionCurrent
      summary: Repair only the technical current scene pointer without creating a gameplay turn
      description: Repairs damaged state.current from saved evidence without creating a turn or changing prior turns, chronology, memory, or source.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Technical current pointer repaired or already usable}
        '404': {description: Session not found}
        '409': {description: Not enough persistent evidence to repair safely}
  /sessions/{session_id}/turn-packet:
    post:
      operationId: prepareTurn
      summary: Build or reuse one bounded gameplay packet from persistent canon
      description: Use one stable request_id per gameplay turn. Read all chunks. Active POV/NPC already include their own cards and complete factual knowledge. Write from runtime_rules and scene_builder.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TurnPrepare'}
      responses:
        '200': {description: Writer-first manifest plus inline chunk 0 when a new packet was prepared}
        '409': {description: Current recovery, request_id conflict, or another uncommitted turn requires resolution}
  /sessions/{session_id}/turn-packet/{packet_id}/{chunk_index}:
    get:
      operationId: getTurnPacketChunk
      summary: Read one remaining writer-first packet chunk
      description: When prepareTurn included chunk 0, start at next_chunk_index and read only remaining indices. Do not batch Action responses.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: packet_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
      responses:
        '200': {description: One remaining writer packet chunk}
        '403': {description: Invalid or stale packet_id}
        '404': {description: Chunk index out of range}
  /sessions/{session_id}/characters/{character_id}/read:
    post:
      operationId: prepareCharacterBundleRead
      summary: Prepare one bounded offscreen participation dossier
      description: Returns the character's own card, own factual memory/knowledge, relationship and active intents before real offscreen participation. Chunk 0 is included when first_chunk_included=true.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: character_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Character participation manifest plus inline chunk 0}
        '404': {description: Session or character not found}
  /sessions/{session_id}/characters/{character_id}/read/{read_id}/{chunk_index}:
    get:
      operationId: getCharacterBundleChunk
      summary: Read one remaining bounded character participation chunk
      description: When prepareCharacterBundleRead included chunk 0, start at next_chunk_index. If the dossier changes during reading, restart the prepared read.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: character_id, required: true, schema: {type: string}}
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
      responses:
        '200': {description: One remaining bounded character participation chunk}
        '404': {description: Session, character or chunk not found}
        '409': {description: Character dossier changed during reading}
  /sessions/{session_id}/turns:
    post:
      operationId: commitTurn
      summary: Save one completed gameplay turn
      description: Echo packet_id and exact user_input. Persist only real chronology, knowledge, relationship, intent, character and physical-state changes; empty arrays are allowed.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TurnCommit'}
      responses:
        '200': {description: Turn committed}
        '409': {description: Packet identity, pending-turn, current-state or persistence integrity conflict}
  /sessions/{session_id}/continuation/compaction:
    post:
      operationId: prepareContinuationCompaction
      summary: Start or resume semantic compaction of a long session
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Migration manifest and next block}
        '404': {description: Session not found}
  /sessions/{session_id}/continuation/blocks/{block_index}/read:
    post:
      operationId: prepareContinuationBlockRead
      summary: Prepare one 100-turn semantic-compaction block
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: block_index, required: true, schema: {type: integer}}
        - {in: query, name: migration_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Chunked block read with chunk 0 included}
  /sessions/{session_id}/continuation/read/{read_id}/{chunk_index}:
    get:
      operationId: getContinuationCompactionChunk
      summary: Read a continuation-compaction chunk
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer}}
        - {in: query, name: migration_id, required: true, schema: {type: string}}
      responses:
        '200': {description: One continuation chunk}
  /sessions/{session_id}/continuation/blocks/{block_index}/commit:
    post:
      operationId: commitContinuationBlock
      summary: Commit the semantic summary of one continuation block
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: block_index, required: true, schema: {type: integer}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ContinuationBlockCommit'}
      responses:
        '200': {description: Block summary saved}
  /sessions/{session_id}/continuation/final/read:
    post:
      operationId: prepareContinuationFinalRead
      summary: Prepare final cross-block reconciliation for a continuation
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: query, name: migration_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Chunked final reconciliation read}
  /sessions/{session_id}/continuation/final/commit:
    post:
      operationId: commitContinuationFinal
      summary: Commit deduplicated history, per-character memories, current state and threads
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ContinuationFinalCommit'}
      responses:
        '200': {description: Final continuation package saved}
  /sessions/{session_id}/continuation:
    post:
      operationId: createContinuationSession
      summary: Create a new compact session after semantic compaction is finalized
      description: Requires completed block compaction and final reconciliation. Copies current relationship stores unchanged, preserves a 15-turn exact bridge, and never modifies the source session canon.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: New continuation session created}
        '404': {description: Session not found}
        '409': {description: Semantic compaction or finalization is incomplete}
  /novel-drafts/{draft_id}/publish:
    post:
      operationId: saveDraftToLibrary
      summary: Save one finalized draft as a reusable novel
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Draft saved to reusable library}
        '404': {description: Draft not found}
        '409': {description: Draft is not finalized or launch state is missing}
  /novels:
    get:
      operationId: listNovels
      summary: List reusable saved novels
      responses:
        '200': {description: Saved novel list}
  /sessions:
    post:
      operationId: createSession
      summary: Create a new isolated session from one saved novel
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SessionCreate'}
      responses:
        '200': {description: New session metadata}
        '404': {description: Novel not found}
