openapi: 3.1.0
info:
  title: Roman AI
  version: 1.15.0
  description: Persistent isolated novel sessions with bounded writer-first context, transactional memory, living NPC relationships, NPC intents, story threads, recovery, rollback, cast rotation and lossless chunked setup intake.
servers:
  - url: https://ai-roman-yumikofv.mia0.amvera.tech
components:
  schemas:
    NovelDraftCreate:
      type: object
      required: [novel_id, title]
      properties:
        novel_id: {type: string}
        title: {type: string}
        version:
          type: integer
          default: 1
          description: Use 4 for new Custom GPT drafts. v4 adds lossless per-detail source-unit coverage; v3 remains readable for legacy drafts.
    NovelDraftSection:
      type: object
      required: [section_name, section_json]
      properties:
        section_name:
          type: string
          enum: [novel, characters, lore, rules, hidden_lore, world, starting_state, story_direction, foundation, knowledge, intake]
        section_json:
          type: string
          description: JSON for the named section. v3+ novel needs core_cast. In v4 foundation facts cite every substantive intake source_unit via source_unit_ids so no appearance, habit, hook or other detail can silently disappear.
        expected_revision:
          type: integer
          minimum: 0
          description: Required for v3+ writes; must equal the current draft revision.
    NovelDraftIntakeChunk:
      type: object
      required: [block_id, stage, chunk_index, raw_text]
      properties:
        block_id: {type: string, minLength: 1, maxLength: 120}
        stage: {type: string, minLength: 1, maxLength: 120}
        chunk_index: {type: integer, minimum: 0}
        raw_text: {type: string, minLength: 1, maxLength: 6000}
        is_last: {type: boolean, default: false}
      additionalProperties: false
    NovelDraftIntakeMapping:
      type: object
      properties:
        fact_ids:
          type: array
          items: {type: string}
        reviewed_against_raw: {type: boolean, default: false}
        contains_no_facts: {type: boolean, default: false}
        replace:
          type: boolean
          default: false
          description: Replaces the block mapping instead of appending; requires expected_revision.
        expected_revision: {type: integer, minimum: 0}
      additionalProperties: false
    NovelDraftReconciliation:
      type: object
      required: [expected_revision, confirmed_against_raw, unresolved_conflicts]
      properties:
        expected_revision: {type: integer, minimum: 0}
        confirmed_against_raw: {type: boolean}
        unresolved_conflicts:
          type: array
          items: {type: string}
        notes: {type: string}
      additionalProperties: false
    NovelDraftLaunchState:
      type: object
      required: [expected_finalized_revision, starting_state_json]
      properties:
        expected_finalized_revision: {type: integer, minimum: 0}
        starting_state_json: {type: string}
        launch_hint: {type: string}
      additionalProperties: false
    SessionCreate:
      type: object
      required: [novel_id]
      properties:
        novel_id: {type: string}
    TurnPrepare:
      type: object
      required: [user_input]
      properties:
        user_input: {type: string}
        request_id:
          type: string
          minLength: 1
          maxLength: 120
          description: Optional for old clients; new clients send one stable id per gameplay turn and reuse it only for technical retries of that same turn.
        scene_archive_capable:
          type: boolean
          default: false
          description: Set true only when this client has prepareSceneArchiveRead/getSceneArchiveChunk available. Enables bounded scene_history transport.
        knowledge_review_capable:
          type: boolean
          default: false
          description: Set true when the client performs the POV+NPC knowledge review before commit.
        strict_knowledge_capable:
          type: boolean
          default: false
          description: Set true only for clients that send turn_knowledge, knowledge_usage and knowledge_trace_complete under the strict closed-world knowledge firewall.
        replace_pending:
          type: boolean
          default: false
          description: Never set automatically. True explicitly abandons an existing uncommitted turn packet; its diagnostic metadata is preserved.
      additionalProperties: false
    SceneArchiveRead:
      type: object
      properties:
        scene_id:
          type: string
          minLength: 1
          description: Omit for the complete compacted-scene index; provide a scene_id for that scene plus exact raw turns.
      additionalProperties: false
    RollbackLastTurn:
      type: object
      required: [expected_turn_number, expected_turn_id, confirm]
      properties:
        expected_turn_number: {type: integer, minimum: 1}
        expected_turn_id: {type: string, minLength: 1}
        confirm: {type: boolean, const: true}
      additionalProperties: false
    PresenceUpdate:
      type: object
      required: [character_id, action]
      properties:
        character_id: {type: string}
        action:
          type: string
          enum: [enter, leave, move]
        zone: {type: string}
        position: {type: string}
        distance_to_pov: {type: string}
        note: {type: string}
      additionalProperties: false
    RelationshipDimensionUpdate:
      type: object
      required: [label, value]
      properties:
        label: {type: string}
        value: {type: number}
        delta: {type: number}
      additionalProperties: false
    RelationshipUpdate:
      type: object
      required: [character_id]
      properties:
        character_id: {type: string}
        dimensions:
          type: array
          minItems: 1
          items: {$ref: '#/components/schemas/RelationshipDimensionUpdate'}
        reason:
          type: string
          description: Concrete causal reason for every real relationship change; no reason means no change.
        change_scale:
          type: string
          enum: [ordinary, timeskip, critical_event]
          description: ordinary is normally bounded to +/-3; timeskip scales by elapsed_game_days; critical_event permits a justified large jump.
        elapsed_game_days:
          type: number
          exclusiveMinimum: 0
          description: Required when change_scale is timeskip.
        opinion: {type: string}
        current_dynamic: {type: string}
        beliefs_about_target:
          type: array
          items: {}
        unresolved_between_them:
          type: array
          items: {}
        relationship_type: {type: string}
        relationship_context: {type: string}
      additionalProperties: false
    NPCIntentUpdate:
      type: object
      required: [character_id, intent_id]
      properties:
        character_id: {type: string}
        intent_id: {type: string}
        operation:
          type: string
          enum: [upsert, resolve, abandon]
        kind: {type: string}
        summary: {type: string}
        status: {type: string}
        priority: {}
        trigger: {type: string}
        why_it_matters: {type: string}
        planned_action: {type: string}
        target_character_id: {type: string}
        source_fact_ids:
          type: array
          items: {type: string}
        next_eligible_game_day: {type: integer, minimum: 0}
        pursued_now: {type: boolean}
        resolution: {type: string}
      additionalProperties: true
    StoryThreadUpdate:
      type: object
      required: [thread_id]
      properties:
        thread_id: {type: string}
        operation:
          type: string
          enum: [upsert, resolve, abandon]
        title: {type: string}
        summary: {type: string}
        status: {type: string}
        priority: {}
        premise: {type: string}
        current_goal: {type: string}
        current_phase: {type: string}
        unresolved:
          type: array
          items: {}
        end_conditions:
          type: array
          items: {}
        possible_routes:
          type: array
          items: {}
        anchor_facts:
          type: array
          items: {}
        pillar_ids:
          type: array
          items: {type: string}
        participants:
          type: array
          items: {type: string}
        next_eligible_game_day: {type: integer, minimum: 0}
        progressed_now: {type: boolean}
        progress_summary: {type: string}
        resolution: {type: string}
      additionalProperties: true
    TurnCommit:
      type: object
      required: [packet_id, user_input, scene_output, extracted]
      properties:
        packet_id: {type: string, minLength: 1}
        user_input: {type: string}
        scene_output: {type: string}
        extracted:
          type: object
          required: [persistence_reviewed, chronology, knowledge_add, experiences_add, dialogue_memory_add, npc_intent_updates, story_thread_updates]
          properties:
            persistence_reviewed: {type: boolean}
            runtime_rules_reviewed:
              type: boolean
              default: false
              description: True only after reading and checking the complete runtime_rules document for this exact turn.
            scene_builder_reviewed:
              type: boolean
              default: false
              description: True only after reading and checking the complete scene_builder document for this exact turn.
            runtime_contract_version:
              type: integer
              minimum: 1
              description: Echo runtime_contract.version from the current turn packet.
            knowledge_reviewed:
              type: boolean
              default: false
              description: True only after reviewing every real speech line against the speaker's dialogue frame and earlier current-turn knowledge.
            knowledge_trace_complete:
              type: boolean
              default: false
              description: True only after knowledge_usage covers every registered real speech unit in scene_output with exact speech text and reviewed factual claims. Hypothetical lower-block options are excluded.
            turn_knowledge:
              type: array
              description: Current-turn facts. Normal learned facts require exact prior evidence. source_kind=canon_fill is the exception for an undefined personal detail and requires canon_gap=true, gap_kind=self_detail, subject_character_id=character_id and detail_key; backend persists it. Other-character cards/chronology/foundation/lore are forbidden.
              items: {type: object, additionalProperties: true}
            knowledge_usage:
              type: array
              description: Legacy strict-mode claim ledger. Leave empty in profile draft v5 sessions.
              items:
                type: object
                required: [unit_id, character_id, speech_text, claims_reviewed, claims]
                additionalProperties: true
                properties:
                  unit_id: {type: string}
                  character_id: {type: string}
                  speech_text:
                    type: string
                    description: Exact text of the registered speech unit.
                  claims_reviewed: {type: boolean}
                  claims:
                    type: array
                    description: Every factual assertion or factual presupposition in this speech. Empty only when the speech contains none.
                    items:
                      type: object
                      required: [claim]
                      additionalProperties: true
                      properties:
                        claim: {type: string}
                        source_fact_ids:
                          type: array
                          items: {type: string}
                        source_event_ids:
                          type: array
                          items: {type: string}
                        source_self_paths:
                          type: array
                          description: Paths in the speaking character's own card that are self-known. Paths under unknown_to_self, hidden_from_self, not_known_to_self, known_to_self=false or author_only are invalid.
                          items: {type: string}
            knowledge_journal_add:
              type: array
              description: Plain learned-knowledge journal entries for profile draft v5. Each item uses character_id, optional date/period, and human-readable text. No fact/source ids.
              items:
                type: object
                additionalProperties: true
            chronology:
              type: array
              items: {type: object, additionalProperties: true}
            knowledge_add:
              type: array
              items: {type: object, additionalProperties: true}
            experiences_add:
              type: array
              items: {type: object, additionalProperties: true}
            dialogue_memory_add:
              type: array
              items: {type: object, additionalProperties: true}
            npc_intent_updates:
              type: array
              description: Durable NPC-owned follow-ups, suspicions, promises, investigations, plans or blocked goals; use empty array when none changed.
              items: {$ref: '#/components/schemas/NPCIntentUpdate'}
            story_thread_updates:
              type: array
              description: Persistent lifecycle updates for live bounded plot events. Use empty array after review when no thread changed.
              items: {$ref: '#/components/schemas/StoryThreadUpdate'}
            scene_progressed:
              type: boolean
              description: True only when this turn materially changed action, contact, position, emotion, risk, information or a character goal without needing a separate durable canon event. Do not use for simple rest, waiting or repetition.
            presence_updates:
              type: array
              description: Explicit scene transitions. Omission preserves the start roster; only leave removes a present character.
              items: {$ref: '#/components/schemas/PresenceUpdate'}
            relationship_updates:
              type: array
              description: Persist only causal NPC->POV relationship changes. Every real change needs reason. Existing numeric metrics require delta from saved canon. ordinary is normally +/-3; timeskip requires elapsed_game_days and may accumulate; critical_event permits a justified large jump. Mere mention is not participation.
              items: {$ref: '#/components/schemas/RelationshipUpdate'}
            state_patch: {type: object, additionalProperties: true}
            character_upserts:
              type: array
              description: >-
                Persist recurring/important named NPCs. Story-created upserts require story_function,
                one short director-level sentence explaining why the NPC matters to the story, not the NPC's personal goal.
              items: {type: object, additionalProperties: true}
          additionalProperties: true
    SceneCompaction:
      type: object
      required: [start_turn, end_turn, summary]
      properties:
        scene_id:
          type: string
          description: Reuse only when the previously open scene continues across audit boundaries; omit for a new scene.
        start_turn: {type: integer, minimum: 1}
        end_turn: {type: integer, minimum: 1}
        summary:
          type: string
          minLength: 60
          maxLength: 1200
          description: One dense factual sentence preserving initiation, development, important dialogue/revelations/choices, and ending or pause.
        participants:
          type: array
          items: {type: string}
        location: {type: string}
        status:
          type: string
          enum: [open, closed]
      additionalProperties: false
    MemoryCompaction:
      type: object
      required: [character_id, memory_type, source_ids, summary]
      properties:
        character_id: {type: string}
        memory_type:
          type: string
          enum: [knowledge, experiences, dialogue_memory]
        source_ids:
          type: array
          minItems: 1
          items: {type: string}
          description: Exact persisted record IDs being losslessly merged; may include one prior canonical record plus fresh records from this audit.
        summary:
          type: string
          minLength: 1
          maxLength: 900
          description: Compact wording that preserves every distinct fact from all source records.
      additionalProperties: false
    AuditRepairs:
      type: object
      required: [scene_compactions]
      properties:
        scene_compactions:
          type: array
          minItems: 1
          description: Required partition of the exact audit range by real scenes. Every audited turn must be covered exactly once with no gaps or overlap.
          items: {$ref: '#/components/schemas/SceneCompaction'}
        memory_compactions:
          type: array
          description: Optional lossless merging of repeated or fragmented character memory. Raw evidence remains persistent.
          items: {$ref: '#/components/schemas/MemoryCompaction'}
        chronology_add:
          type: array
          items: {type: object, additionalProperties: true}
        knowledge_add:
          type: array
          items: {type: object, additionalProperties: true}
        experiences_add:
          type: array
          items: {type: object, additionalProperties: true}
        dialogue_memory_add:
          type: array
          items: {type: object, additionalProperties: true}
        npc_intent_updates:
          type: array
          items: {$ref: '#/components/schemas/NPCIntentUpdate'}
        story_thread_updates:
          type: array
          items: {$ref: '#/components/schemas/StoryThreadUpdate'}
        state_patch: {type: object, additionalProperties: true}
      additionalProperties: true
    AuditCommit:
      type: object
      required: [audit_id, start_turn, end_turn, repairs]
      properties:
        audit_id: {type: string, minLength: 1}
        start_turn: {type: integer}
        end_turn: {type: integer}
        repairs: {$ref: '#/components/schemas/AuditRepairs'}
        notes:
          type: array
          items: {type: string}
paths:
  /runtime:
    get:
      operationId: getRuntime
      summary: Prepare the complete setup-time runtime documents as safe chunks
      description: Returns a manifest. During new-novel setup read every getRuntimeChunk from 0 through chunk_count-1.
      responses:
        '200': {description: Runtime chunk manifest}
  /runtime/{chunk_index}:
    get:
      operationId: getRuntimeChunk
      summary: Read one setup-time runtime chunk
      parameters:
        - {in: path, name: chunk_index, required: true, schema: {type: integer}}
      responses:
        '200': {description: One runtime chunk}
        '404': {description: Chunk index out of range}
  /novel-drafts:
    post:
      operationId: createNovelDraft
      summary: Start a staged session-only draft for a new novel
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftCreate'}
      responses:
        '200': {description: Draft status with draft_id}
  /novel-drafts/{draft_id}/sections:
    post:
      operationId: saveNovelDraftSection
      summary: Save or replace one draft section; saving again may reopen a finalized draft for pre-game correction
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftSection'}
      responses:
        '200': {description: Updated draft status including intake_coverage when intake exists}
  /novel-drafts/{draft_id}/intake/chunks:
    post:
      operationId: appendDraftIntakeChunk
      summary: Append one verbatim chunk of a large intake block
      description: Prefer 4000-6000 verbatim characters per chunk, in order from 0. Exact retries are idempotent. On completion v4 returns immutable source_units; preserve every source_unit_id in foundation facts. On 422 split only unsaved text. Set is_last only on the final chunk.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftIntakeChunk'}
      responses:
        '200': {description: Upload progress or completed immutable intake block}
  /novel-drafts/{draft_id}/intake/{block_id}/mapping:
    post:
      operationId: updateDraftIntakeMapping
      summary: Mark a stored raw intake block reviewed or map legacy foundation facts
      description: In draft v5 send fact_ids=[] and reviewed_against_raw=true after the verbatim RAW block has been fully represented in the fixed profiles. Legacy v4 drafts keep fact/source-unit mapping behavior.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
        - {in: path, name: block_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftIntakeMapping'}
      responses:
        '200': {description: Updated draft status and intake coverage}
  /novel-drafts/{draft_id}/reconciliation:
    post:
      operationId: confirmDraftReconciliation
      summary: Confirm full raw-to-structured reconciliation for the current draft revision
      description: Requires a complete read of the same revision. Any later write invalidates this reconciliation and requires another full read and confirmation.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftReconciliation'}
      responses:
        '200': {description: Current revision reconciled}
        '409': {description: Revision, full-read, coverage or conflict check failed}

  /novel-drafts/{draft_id}/launch-state:
    post:
      operationId: setDraftLaunchState
      summary: Set the first-scene starting state after setup content is finalized
      description: v3 only. Stores launch state separately from setup content, so choosing a first scene does not invalidate the reconciled content revision.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NovelDraftLaunchState'}
      responses:
        '200': {description: Launch state validated and stored}
        '409': {description: Draft or launch state is not valid}

  /novel-drafts/{draft_id}:
    get:
      operationId: getNovelDraftStatus
      summary: Check saved sections and finalized state
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Draft status}
  /novel-drafts/{draft_id}/finalize:
    post:
      operationId: finalizeNovelDraft
      summary: Verify and freeze a session-only draft
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Verification summary}
  /novel-drafts/{draft_id}/read:
    post:
      operationId: prepareDraftRead
      summary: Prepare chunked reading of a working or finalized draft
      description: Before finalize, returns the working draft with raw intake. After finalize, returns the normalized draft. Saving a correction reopens the same draft; reread all chunks after every write.
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: read_id, chunk_count and total_chars}
  /novel-drafts/{draft_id}/session:
    post:
      operationId: createSessionFromDraft
      summary: Create or safely replay the isolated session for this finalized draft revision
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Session metadata}
  /novel-drafts/{draft_id}/publish:
    post:
      operationId: saveDraftToLibrary
      summary: Explicitly publish a finalized draft to the reusable library
      parameters:
        - {in: path, name: draft_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Draft published}
  /novels:
    get:
      operationId: listNovels
      summary: List reusable library novels
      responses:
        '200': {description: Novel list}
  /novels/{novel_id}/read:
    post:
      operationId: prepareNovelRead
      summary: Prepare chunked reading of a library novel
      parameters:
        - {in: path, name: novel_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Prepared read}
  /novel-reads/{read_id}/{chunk_index}:
    get:
      operationId: getNovelReadChunk
      summary: Read one chunk from a prepared draft or library read
      parameters:
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer}}
      responses:
        '200': {description: One chunk}
  /sessions:
    post:
      operationId: createSession
      summary: Create an isolated session from a library novel
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SessionCreate'}
      responses:
        '200': {description: Session metadata}
  /sessions/{session_id}/resume:
    post:
      operationId: resumeSession
      summary: Reconnect to the exact existing session
      description: Compact checkpoint including exact last_committed_turn.scene_output. If current_recovery_required=true, call recoverSessionCurrent before prepareTurn. Full canon remains in backend persistent storage.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Same-session compact checkpoint with recovery status}
        '404': {description: Session not found}
  /sessions/{session_id}/recover-current:
    post:
      operationId: recoverSessionCurrent
      summary: Repair only the technical current scene pointer without creating a gameplay turn
      description: Repairs damaged state.current from saved evidence without creating a turn or changing prior turns, chronology, memory, or source.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Technical current pointer repaired or already usable}
        '404': {description: Session not found}
        '409': {description: Not enough persistent evidence to repair safely}
  /sessions/{session_id}/rollback-last-turn:
    post:
      operationId: rollbackLastTurn
      summary: Roll back only the latest saved canonical turn after explicit user request
      description: Resume first and pass exact current turn number plus current_turn_id with confirm=true. Exact retries are safe; a replacement turn has a different identity.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RollbackLastTurn'}
      responses:
        '200': {description: Latest turn rolled back and same turn number is ready to retry}
        '404': {description: Session not found}
        '409': {description: Confirmation, expected turn or exact reconstruction check failed; no mutation performed}
  /sessions/{session_id}/audit-snapshot:
    get:
      operationId: getAuditSnapshot
      summary: Prepare the exact 15-turn evidence for reconciliation and scene compaction
      description: Response includes audit_id and may include chunk 0. Read every remaining chunk. The payload contains full persisted scene text plus the mandatory scene-compaction contract.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Fast audit manifest plus inline chunk 0 when available}
        '409': {description: Audit is not currently required}
  /sessions/{session_id}/audit-snapshot/{audit_id}/{chunk_index}:
    get:
      operationId: getAuditSnapshotChunk
      summary: Read one remaining audit and scene-compaction chunk
      description: If getAuditSnapshot included chunk 0, start at next_chunk_index and read only remaining indices. Do not batch Action responses.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: audit_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
      responses:
        '200': {description: One remaining audit chunk}
        '403': {description: Invalid or stale audit_id}
        '404': {description: Chunk index out of range}
  /sessions/{session_id}/turn-packet:
    post:
      operationId: prepareTurn
      summary: Build or reuse bounded writer-first context from complete persistent canon
      description: New clients use stable request_id and capability flags. Strict clients set scene_archive_capable, knowledge_review_capable and strict_knowledge_capable=true. Pending turns are replaced only when explicitly requested.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TurnPrepare'}
      responses:
        '200': {description: Writer-first manifest plus inline chunk 0 when a new packet was prepared}
        '409': {description: Audit/current recovery required, request_id conflict, or another uncommitted turn is already in progress}
  /sessions/{session_id}/turn-packet/{packet_id}/{chunk_index}:
    get:
      operationId: getTurnPacketChunk
      summary: Read one remaining writer-first packet chunk
      description: When prepareTurn included chunk 0, start at next_chunk_index and read only remaining indices. Do not batch Action responses.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: packet_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
      responses:
        '200': {description: One remaining writer packet chunk}
        '403': {description: Invalid or stale packet_id}
        '404': {description: Chunk index out of range}
  /sessions/{session_id}/scene-archive/read:
    post:
      operationId: prepareSceneArchiveRead
      summary: Prepare chunked persistent scene history or exact old-scene evidence
      description: Omit scene_id for the complete compacted-scene index. Provide scene_id for that scene plus exact raw turns from its source ranges. Chunk 0 is included.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SceneArchiveRead'}
      responses:
        '200': {description: Scene archive manifest plus inline chunk 0}
        '404': {description: Session or scene not found}
  /sessions/{session_id}/scene-archive/read/{read_id}/{chunk_index}:
    get:
      operationId: getSceneArchiveChunk
      summary: Read one remaining chunk from a prepared scene archive read
      description: Start at next_chunk_index because chunk 0 is already included. Echo scene_id only when the prepare request used one.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
        - {in: query, name: scene_id, required: false, schema: {type: string}}
      responses:
        '200': {description: One remaining scene archive chunk}
        '404': {description: Session, scene or chunk not found}
        '409': {description: Scene archive changed during reading}
  /sessions/{session_id}/characters/{character_id}/read:
    post:
      operationId: prepareCharacterBundleRead
      summary: Prepare one bounded offscreen participation dossier
      description: Returns the full card plus bounded personal memory, relationship and active intents. Chunk 0 is included when first_chunk_included=true; complete lifetime memory remains persistent.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: character_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Character participation manifest plus inline chunk 0}
        '404': {description: Session or character not found}
  /sessions/{session_id}/characters/{character_id}/read/{read_id}/{chunk_index}:
    get:
      operationId: getCharacterBundleChunk
      summary: Read one remaining bounded character participation chunk
      description: When prepareCharacterBundleRead included chunk 0, start at next_chunk_index. If the dossier changes during reading, restart the prepared read.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
        - {in: path, name: character_id, required: true, schema: {type: string}}
        - {in: path, name: read_id, required: true, schema: {type: string}}
        - {in: path, name: chunk_index, required: true, schema: {type: integer, minimum: 0}}
      responses:
        '200': {description: One remaining bounded character participation chunk}
        '404': {description: Session, character or chunk not found}
        '409': {description: Character dossier changed during reading}
  /sessions/{session_id}/turns:
    post:
      operationId: commitTurn
      summary: Save one complete turn after required writer chunks were read
      description: Echo packet_id from prepareTurn. For knowledge-review-capable packets, set extracted.knowledge_reviewed=true only after checking POV and NPC knowledge. KNOWLEDGE_REVIEW_REQUIRED means rewrite unsupported knowledge and retry the same commit.
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TurnCommit'}
      responses:
        '200': {description: Turn committed}
        '409': {description: Audit, packet reading, persistence review, relationship, presence, knowledge, current-state or story-progress validation incomplete}
  /sessions/{session_id}/audit:
    post:
      operationId: commitAudit
      summary: Finish one prepared audit with mandatory lossless scene compaction
      parameters:
        - {in: path, name: session_id, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuditCommit'}
      responses:
        '200': {description: Audit committed}
        '409': {description: Audit read incomplete, range mismatch, invalid scene coverage, vague/invalid scene summary, or invalid memory compaction}
